@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html[data-theme="dark"] {
    --background: #0a0a0a;
    --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist Mono", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  cursor: pointer;
}

input {
  background: var(--background);
}

.search-controls-container {
  transition: all 0.3s ease-in-out;
  transform-origin: top left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.search-controls-container.moved {
  top:0;
  left: 0;
  transform: scale(0.8);
  padding: 20px;
}

.results-container {
  transition: all 0.3s ease-in-out;
  transform-origin: center;
  transform: scale(0);
}

.results-container.moved {
  transform: scale(1);
}

@media (min-width: 640px) {
  .search-controls-container.moved {
    transform: translate(0, 0) scale(0.8);
  }
}